<h4>検索結果</h4>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>投稿数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% unless search_book.present? %>
          <span>日付を選択してください</span>
        <% else %>
          <%= search_book %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>