<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <div class="mx-auto my-3">
        <%= render "searches/search" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "info", book: @book, user: @user, is_room: @is_room, room_id: @room_id, room: @room, entry: @entry %>
    </div>

    <div class="col-md-8 offset-md-1 mt-4 mt-md-0">
      <%= render "books", {books: @books, tags: @tags} %>
    </div>
  </div>
</div>