<h2>Books</h2>
  <div id="sort">
    <%= sort_order "created_at", "新しい順" %> | <%= sort_order "rate", "評価の高い順" %>
  </div>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Tag</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody id="book_index">
    <%= render "index", {books: books, tags: tags} %>
  </tbody>
</table>