| <span id="book_rate_
= book.id
| ">
- book.id
script
  |  $('#book_rate_<ruby code="= book.id"></ruby>').empty(); $('#book_rate_<ruby code="= book.id"></ruby>').raty({ size: 8, starOff: '<ruby code="= asset_path('star-off.png')"></ruby>', starOn : '<ruby code="= asset_path('star-on.png')"></ruby>', readOnly: true, score: <ruby code="= book.rate"></ruby>, }); 
